@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.tiptap {
  outline: none;
  min-height: 75px;
  padding: 8px;
}

ol, ul {
  list-style: disc inside;
  margin-left: 1.5rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  display: list-item;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.glow-effect {
  position: fixed;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, #ba63cb3b 0%, rgba(255, 255, 255, 0) 50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}


@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.appear {
  animation: appear 0.5s ease-in;
}