@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.tiptap {
  outline: none;
  min-height: 75px;
  padding: 8px;
}

ol, ul {
  list-style: disc inside;
  margin-left: 1.5rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  display: list-item;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.glow-effect {
  position: fixed;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(155, 118, 211, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

body {
  @apply font-sans bg-white text-black;
}


@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.appear {
  animation: appear 0.5s ease-in;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
